<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" routerLinkActive class="navbar-brand">Dispersal</a>
    </div>

    <div>
      <ul class="nav navbar-nav">
        <li routerLinkActive><a routerLink="">Home</a></li>

        <li routerLinkActive><a routerLink="/settings">Settings</a></li>

        <li class="dropdown" appDropdown routerLinkActive>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button"
            >Help<span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer;" routerLink="/about/about">About</a>
            </li>
            <li>
              <a style="cursor: pointer;" routerLink="/about/instructions"
                >Instructions</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
