<div class="container">
  <div class="row" style="padding-left: 15px; padding-right: 15px;">
    <div class="col-12">
      <form [formGroup]="settingsForm" (ngSubmit)="onSubmit()">
        <label for="sector">Sector to search within:</label>
        <select class="form-control" formControlName="sector" name="sector">
          <!-- <option>All</option> -->
          <option>Western</option>
          <option>Eastern</option>
          <option>Central</option>
        </select>

        <br />

        <label for="order">Order to list results in:</label>
        <select class="form-control" formControlName="order" name="order">
          <option>Ascending</option>
          <option>Descending</option>
        </select>

        <br />

        <button class="btn btn-primary" type="submit">
          Save Settings
        </button>
      </form>
    </div>
    <br />

    <div class="alert alert-success" *ngIf="settingsSaved">
      <strong>Success!</strong> Settings have been saved.
    </div>
  </div>
</div>
